<div class="beer-modal">

    <div class="container">

        <div class="row">

            <div class="col-12">

                <h3 class="mb-4"><span class="font-weight-bold underline">Description:</span> {{beer.description}}</h3>

                <h4 class="mb-4"><span class="font-weight-bold underline">Brewers tips:</span> {{beer.brewers_tips}}</h4>

                <p class="mb-4"><span class="font-weight-bold underline">First brewed:</span> {{beer.first_brewed}}</p>

                <p><span class="font-weight-bold underline">Ph:</span> {{beer.ph}}</p>

            </div>

        </div>

    </div>

</div>
