.position-1 {
    position : absolute;
    bottom   : 1rem;
    right    : 1rem;
}

.position-2 {
    position : absolute !important;
    top      : 1rem;
    right    : 1rem;
}

.underline {
    text-decoration : underline;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
